body {
    height: 2000px;
}

.btn {
    display: none;
}


.content {
    margin: 5px;
    border: 1px solid #f00;
    width: fit-content;
    padding: 10px;
}

p {
    background-color: royalblue;
    color: #fff;
    padding: 5px;
}